<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="logDir" value="C:\DotnetSandox.Logs" />

    <targets>
        <target xsi:type="File" name="InfoLogFile" encoding="utf-8" fileName="${logDir}\Info\${date:format=yyyy.MM.dd}.Info.log" layout="${uppercase:${level}} | ${longdate} | ${message}${newline}" />
        <target xsi:type="File" name="ErrorLogFile" encoding="utf-8" fileName="${logDir}\Error\${date:format=yyyy.MM.dd}.Error.log" layout="${uppercase:${level}} | ${longdate} | ${message}${newline}" />
        <target xsi:type="File" name="DebugLogFile" encoding="utf-8" fileName="${logDir}\Debug\${date:format=yyyy.MM.dd}.Debug.log" layout="${longdate} - ${message}" />
    </targets>

    <rules>
        <logger name="*" level="Info" writeTo="InfoLogFile" />
        <logger name="*" level="Error" writeTo="ErrorLogFile" />
        <logger name="*" level="Debug" writeTo="DebugLogFile" />
    </rules>
</nlog>